@import "bootstrap.min.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap";
@import "media-queries.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";


$font-montserrat: 'Montserrat', sans-serif;
$font-nunito:  'Nunito Sans', sans-serif;

.main_banner {
  .first_screen {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  background-color: #e9e9e9;
  header {
    background-color: #e9e9e9;
    position: fixed;
    width: 100%;
    z-index: 10;
      .navbar-light {
        padding: 25px 0 25px 0;
        .nav-link {
          font: 12px/12px $font-montserrat;
          font-weight: 700;
          color: #191919;
          &:hover {
            color: #10c9c3;
          }
        }
        .active {
          .nav-link {
            color: #10c9c3;
          }
        }
      }
    .navbar-collapse .collapse show {
      background-color: #e9e9e9;
    }
  }
  h1 {
    font: 38px/38px $font-montserrat;
    color: #1d1d1d;
    margin-bottom: 30px;
  }
  p {
    color: #787878;
    font: 18px/30px $font-nunito;
    margin-bottom: 35px;
  }
}

.btn {
  background-color: #10c9c3;
  font: 12px/35px $font-montserrat;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0;
  &:hover {
    background-color: #2aaca8;
  }
}

h2 {
  font: 30px/30px $font-montserrat;
  color: #191919;
  margin-top: 90px;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    margin-top: 70px;
    margin-bottom: 30px;
  }
}

p {
  color: #787878;
  font: 16px/25px $font-nunito;
  margin-bottom: 40px;
  @media screen and (max-width: 767px){
    margin-bottom: 30px;
  }
}

.about-us {
  img {
    margin-bottom: 90px;
    @media screen and (max-width: 767px) {
      margin-bottom: 70px;
    }
  }
}

.skills {
  background-color: #f8f9f9;
  padding-top: 60px;
  padding-bottom: 140px;
  @media screen and (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 75px;
  }
  p {
    font: 12px/12px $font-montserrat;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
    margin-top: 35px;
    span {
      margin-left: 18px;
    }
  }
  .progress {
    background-color: #d8d8d8;
    .progress-bar {
      background-color: #10c9c3;
    }
  }
}

.experience {
  background-color: #10c9c3;
  padding-bottom: 70px;
  padding-top: 70px;
  p {
    font: 12px/12px $font-montserrat;
    margin-bottom: 16px;
    margin-left: 30px;
  }
  p.quantity{
    font: 18px/18px $font-montserrat;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 17px;
  }
}

.examples {
  .photo {
    height: 300px;
    background-color: #dddddd;
    padding: 0;
    &:after {
      position: absolute;
      top: 125px;
      left: 160px;
      content: url("../images/eye.png");
      display: block;
      @media screen and (max-width: 767px) {
        top: 133px;
        left: 180px;
      }
    }
    &:hover {
      background-color: rgba(0,0,0, 0.8);
      &:after {
        display: block;
      }
    }
  }
  .gray{
    background-color: #838383;
  }
  .look-more {
    background-color: #f5f5f5;
    a {
      color: #8e8e8e;
      font: 12px/100px $font-montserrat;
      font-weight: 700;
      @media screen and (max-width: 767px) {
        line-height: 70px;
      }
    }
    a:hover {
      text-decoration: none;
      color: #8e8e8e;
    }
    &:hover {
      background-color: #d4d4d4;
      cursor: pointer;
    }
  }
}

.process {
  h2 {
    @media screen and (max-width: 767px) {
      margin-top: 50px;
    }
  }
  .video {
    height: 570px;
    background-color: #e9e9e9;
    margin-bottom: 100px;
    padding: 0;
    @media screen and (max-width: 767px){
     height: 350px;
      width: 90%;
      margin-bottom: 60px;
    }
    .play-icon {
      background-color: #10c9c3;
      border-radius: 50%;
      width: 85px;
      height: 85px;
      position: absolute;
      left: 46%;
      top: 42%;
      @media screen and (max-width: 767px) {
        left: 39%;
        top: 36%;
      }
      &:after {
        content: "\f0da";
        position: absolute;
        color: white;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 30px;
        left: 39px;
        top: 21px;
      }
    }
  }
}

.service {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 50px;
  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 0;
  }
  img {
    margin-bottom: 20px;
  }
  .expert {
    font: 12px/12px $font-montserrat;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.owl {
  background-color: #10c9c3;
  height: 500px;
  @media screen and (max-width: 767px) {
    height: 400px;
  }
  .owl-carousel {
    .owl-content {
      blockquote {
        font: 23px/35px $font-montserrat;
        font-weight: 700;
        padding-top: 150px;
        padding-bottom: 30px;
        max-width: 790px;
        margin: auto;
        @media screen and (max-width: 767px) {
          padding-top: 70px;
        }
      }
      p {
        font-size: 12px;
        font-weight: 700;
      }
    }
    .owl-dots {
      position: absolute;
      left: 48%;
      top: 106%;
      @media screen and (max-width: 767px) {
        left: 43%;
        top: 90%;
      }
      .owl-dot span{
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        height: 6px;
        width: 6px;
        margin: 6px;
        outline: none;
      }
      .owl-dot.active span{
        height: 10px;
        width: 10px;
        position: relative;
        top: 2px;
        background-color: white;
      }
    }
  }
}

.investors {
  padding: 0!important;
  div {
    margin: 40px 40px 40px 40px;

  }
}

.need-project {
  background-color: #f5f5f5;
  padding-bottom: 80px;
  p {
    width: 80%;
    text-align: center;
    display: block;
    margin: auto;
  }
  form {
    .form-row {
      @media screen and (max-width: 767px) {
        margin: 0;
      }
    }
    .form-group{
      @media screen and (max-width: 767px) {
        padding: 0!important;
      }
      input, textarea {
        border: none;
        border-radius: 0;
        font: 15px $font-nunito;
      }
      input {
        padding: 25px 20px 25px 20px;
      }
      textarea {
        height: 170px;
        resize: none;
        padding: 15px 20px 15px 20px;
      }
    }
    .btn {
      border: none;
    }
  }
}

footer {
  background-color: #141414;
  padding-bottom: 60px;
  padding-top: 90px;
  .contact {
    padding-left: 130px;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
  .menu {
    padding-left: 60px;
    @media screen and (max-width: 767px) {
      padding-left: 15px;
      display: inline;
    }
  }
  .social_network {
    @media screen and (max-width: 767px){
      display: inline;
    }
  }
  p {
    margin-bottom: 20px;
    color: #bcbcbc;
  }
  p.inc {
    font: 18px/18px $font-montserrat;
    font-weight: 700;
    color: white;
  }
  ul {
    list-style: none;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
    li {
      a {
        text-decoration: none;
        color: #bcbcbc;
      }
      a:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
}