@charset "UTF-8";
@import "bootstrap.min.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap";
@import "media-queries.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
.main_banner {
  background-color: #e9e9e9;
}
@media screen and (max-width: 767px) {
  .main_banner .first_screen {
    text-align: center;
  }
}
.main_banner header {
  background-color: #e9e9e9;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.main_banner header .navbar-light {
  padding: 25px 0 25px 0;
}
.main_banner header .navbar-light .nav-link {
  font: 12px/12px "Montserrat", sans-serif;
  font-weight: 700;
  color: #191919;
}
.main_banner header .navbar-light .nav-link:hover {
  color: #10c9c3;
}
.main_banner header .navbar-light .active .nav-link {
  color: #10c9c3;
}
.main_banner header .navbar-collapse .collapse show {
  background-color: #e9e9e9;
}
.main_banner h1 {
  font: 38px/38px "Montserrat", sans-serif;
  color: #1d1d1d;
  margin-bottom: 30px;
}
.main_banner p {
  color: #787878;
  font: 18px/30px "Nunito Sans", sans-serif;
  margin-bottom: 35px;
}

.btn {
  background-color: #10c9c3;
  font: 12px/35px "Montserrat", sans-serif;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0;
}
.btn:hover {
  background-color: #2aaca8;
}

h2 {
  font: 30px/30px "Montserrat", sans-serif;
  color: #191919;
  margin-top: 90px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  h2 {
    margin-top: 70px;
    margin-bottom: 30px;
  }
}

p {
  color: #787878;
  font: 16px/25px "Nunito Sans", sans-serif;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  p {
    margin-bottom: 30px;
  }
}

.about-us img {
  margin-bottom: 90px;
}
@media screen and (max-width: 767px) {
  .about-us img {
    margin-bottom: 70px;
  }
}

.skills {
  background-color: #f8f9f9;
  padding-top: 60px;
  padding-bottom: 140px;
}
@media screen and (max-width: 767px) {
  .skills {
    padding-top: 0;
    padding-bottom: 75px;
  }
}
.skills p {
  font: 12px/12px "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
  margin-top: 35px;
}
.skills p span {
  margin-left: 18px;
}
.skills .progress {
  background-color: #d8d8d8;
}
.skills .progress .progress-bar {
  background-color: #10c9c3;
}

.experience {
  background-color: #10c9c3;
  padding-bottom: 70px;
  padding-top: 70px;
}
.experience p {
  font: 12px/12px "Montserrat", sans-serif;
  margin-bottom: 16px;
  margin-left: 30px;
}
.experience p.quantity {
  font: 18px/18px "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 17px;
}

.examples .photo {
  height: 300px;
  background-color: #dddddd;
  padding: 0;
}
.examples .photo:after {
  position: absolute;
  top: 125px;
  left: 160px;
  content: url("../images/eye.png");
  display: block;
}
@media screen and (max-width: 767px) {
  .examples .photo:after {
    top: 133px;
    left: 180px;
  }
}
.examples .photo:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.examples .photo:hover:after {
  display: block;
}
.examples .gray {
  background-color: #838383;
}
.examples .look-more {
  background-color: #f5f5f5;
}
.examples .look-more a {
  color: #8e8e8e;
  font: 12px/100px "Montserrat", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .examples .look-more a {
    line-height: 70px;
  }
}
.examples .look-more a:hover {
  text-decoration: none;
  color: #8e8e8e;
}
.examples .look-more:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .process h2 {
    margin-top: 50px;
  }
}
.process .video {
  height: 570px;
  background-color: #e9e9e9;
  margin-bottom: 100px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .process .video {
    height: 350px;
    width: 90%;
    margin-bottom: 60px;
  }
}
.process .video .play-icon {
  background-color: #10c9c3;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  position: absolute;
  left: 46%;
  top: 42%;
}
@media screen and (max-width: 767px) {
  .process .video .play-icon {
    left: 39%;
    top: 36%;
  }
}
.process .video .play-icon:after {
  content: "";
  position: absolute;
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  left: 39px;
  top: 21px;
}

.service {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .service {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
.service img {
  margin-bottom: 20px;
}
.service .expert {
  font: 12px/12px "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.owl {
  background-color: #10c9c3;
  height: 500px;
}
@media screen and (max-width: 767px) {
  .owl {
    height: 400px;
  }
}
.owl .owl-carousel .owl-content blockquote {
  font: 23px/35px "Montserrat", sans-serif;
  font-weight: 700;
  padding-top: 150px;
  padding-bottom: 30px;
  max-width: 790px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .owl .owl-carousel .owl-content blockquote {
    padding-top: 70px;
  }
}
.owl .owl-carousel .owl-content p {
  font-size: 12px;
  font-weight: 700;
}
.owl .owl-carousel .owl-dots {
  position: absolute;
  left: 48%;
  top: 106%;
}
@media screen and (max-width: 767px) {
  .owl .owl-carousel .owl-dots {
    left: 43%;
    top: 90%;
  }
}
.owl .owl-carousel .owl-dots .owl-dot span {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin: 6px;
  outline: none;
}
.owl .owl-carousel .owl-dots .owl-dot.active span {
  height: 10px;
  width: 10px;
  position: relative;
  top: 2px;
  background-color: white;
}

.investors {
  padding: 0 !important;
}
.investors div {
  margin: 40px 40px 40px 40px;
}

.need-project {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}
.need-project p {
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .need-project form .form-row {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .need-project form .form-group {
    padding: 0 !important;
  }
}
.need-project form .form-group input, .need-project form .form-group textarea {
  border: none;
  border-radius: 0;
  font: 15px "Nunito Sans", sans-serif;
}
.need-project form .form-group input {
  padding: 25px 20px 25px 20px;
}
.need-project form .form-group textarea {
  height: 170px;
  resize: none;
  padding: 15px 20px 15px 20px;
}
.need-project form .btn {
  border: none;
}

footer {
  background-color: #141414;
  padding-bottom: 60px;
  padding-top: 90px;
}
footer .contact {
  padding-left: 130px;
}
@media screen and (max-width: 767px) {
  footer .contact {
    padding: 0;
  }
}
footer .menu {
  padding-left: 60px;
}
@media screen and (max-width: 767px) {
  footer .menu {
    padding-left: 15px;
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  footer .social_network {
    display: inline;
  }
}
footer p {
  margin-bottom: 20px;
  color: #bcbcbc;
}
footer p.inc {
  font: 18px/18px "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
}
footer ul {
  list-style: none;
}
@media screen and (max-width: 767px) {
  footer ul {
    padding: 0;
  }
}
footer ul li a {
  text-decoration: none;
  color: #bcbcbc;
}
footer ul li a:hover {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
