@charset "UTF-8";
@import "bootstrap.min.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap";
@import "media-queries.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
.main_banner {
  background-color: #e9e9e9;
}
.main_banner header {
  background-color: #e9e9e9;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.main_banner header .navbar-light {
  padding: 25px 0 25px 0;
}
.main_banner header .navbar-light .nav-link {
  font: 12px/12px "Montserrat", sans-serif;
  font-weight: 700;
  color: #191919;
}
.main_banner header .navbar-light .nav-link:hover {
  color: #10c9c3;
}
.main_banner header .navbar-light .active .nav-link {
  color: #10c9c3;
}
.main_banner h1 {
  font: 38px/38px "Montserrat", sans-serif;
  color: #1d1d1d;
  margin-bottom: 30px;
}
.main_banner p {
  color: #787878;
  font: 18px/30px "Nunito Sans", sans-serif;
  margin-bottom: 35px;
}

.btn {
  background-color: #10c9c3;
  font: 12px/35px "Montserrat", sans-serif;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 0;
}

h2 {
  font: 30px/30px "Montserrat", sans-serif;
  color: #191919;
  margin-top: 90px;
  margin-bottom: 30px;
}

p {
  color: #787878;
  font: 16px/25px "Nunito Sans", sans-serif;
  margin-bottom: 40px;
}

.about-us img {
  margin-bottom: 90px;
}

.skills {
  background-color: #f8f9f9;
  padding-top: 60px;
  padding-bottom: 140px;
}
.skills p {
  font: 12px/12px "Montserrat", sans-serif;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
  margin-top: 35px;
}
.skills p span {
  margin-left: 18px;
}
.skills .progress {
  background-color: #d8d8d8;
}
.skills .progress .progress-bar {
  background-color: #10c9c3;
}

.experience {
  background-color: #10c9c3;
  padding-bottom: 70px;
  padding-top: 70px;
}
.experience p {
  font: 12px/12px "Montserrat", sans-serif;
  margin-bottom: 16px;
  margin-left: 30px;
}
.experience p.quantity {
  font: 18px/18px "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 17px;
}

.examples .photo {
  height: 300px;
  background-color: #dddddd;
  padding: 0;
}
.examples .photo:after {
  position: absolute;
  top: 125px;
  left: 160px;
  content: url("../images/eye.png");
  display: block;
}
.examples .photo:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.examples .photo:hover:after {
  display: block;
}
.examples .gray {
  background-color: #838383;
}

.process .video {
  height: 570px;
  background-color: #e9e9e9;
  margin-bottom: 100px;
  padding: 0;
}
.process .video .play-icon {
  background-color: #10c9c3;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  position: absolute;
  left: 46%;
  top: 42%;
}
.process .video .play-icon:after {
  content: "";
  position: absolute;
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  left: 39px;
  top: 21px;
}

.service {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 50px;
}
.service img {
  margin-bottom: 20px;
}
.service .expert {
  font: 12px/12px "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
